<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meu espaço</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="site.css">
    <script src="script.js"></script>
</head>
<body>
<section id="Meu treino">
    <h2>Meu treino</h2>
    <ul>
        <li>
            <img src="image/gif.man.gif" alt="foto 1">
            <h3>Este é o seu treino </h3>
            <div class="calendar">
                <table>
                    <caption>Setembro 2023</caption>
                        <thead>
                            <tr>
                                <th colspan="7">Domingo</th>
                                <th colspan="7">Segunda-feira</th>
                                <th colspan="7">Terça-feira</th>
                                <th colspan="7">Quarta-feira</th>
                                <th colspan="7">Quinta-feira</th>
                                <th colspan="7">Sexta-feira</th>
                                <th colspan="7">Sábado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>(Descanso Ativo): Descanso total ou atividades de lazer como nadar, andar de bicicleta ou praticar um esporte recreativo.</td>
                                <td>(Treinamento de Força - Músculos Superiores): Supino (3 séries de 10 repetições) Flexões (3 séries de 8 repetições) Desenvolvimento militar (3 séries de 10 repetições) Rosca direta com halteres (3 séries de 12 repetições) Prancha (3 séries de 30 segundos)</td>
                                <td>(Cardio - Corrida ou Ciclismo): Corrida de 30 minutos OU ciclismo de 30 minutos (dependendo da sua preferência e condições) Alongamento pós-cardio (10 minutos)</td>
                                <td>(Treinamento de Força - Músculos Inferiores): Agachamento (3 séries de 12 repetições) Deadlift (3 séries de 10 repetições) Lunges (3 séries de 12 repetições para cada perna) Elevação de panturrilha (3 séries de 15 repetições) Prancha lateral (3 séries de 30 segundos para cada lado)</td>
                                <td>(Cardio - Treinamento Intervalado de Alta Intensidade - HIIT): Sessão de HIIT de 20-30 minutos (exemplo: 30 segundos de corrida intensa ou saltos, seguidos de 30 segundos de descanso) Alongamento pós-cardio (10 minutos)</td>
                                <td>(Treinamento de Força - Corpo Inteiro): Levantamento terra (3 séries de 8 repetições) Pull-ups ou lat pulldowns (3 séries de 10 repetições) Flexões (3 séries de 15 repetições) Rosca martelo (3 séries de 12 repetições) Prancha (3 séries de 30 segundos)</td>
                                <td>(Atividade de Baixa Intensidade - Recuperação Ativa): Caminhada leve ou ioga (30-45 minutos) Alongamento (20 minutos)</td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </li>
        <li>
            <img src="foto2.jpg" alt="foto 2">
        </li>
    </ul>
</section>
<section id="seuespaco">
    <h2>Bioimpedância</h2>
    <ul>
        <li>
            <img src="foto1.jpg" alt="foto 1">
            <h3>O que é?</h3>
            <p>A bioimpedância destina-se à avaliação da composição corporal, estimando a massa magra, gordura corporal, água corporal total, entre outros dados que proporcionam informações mais precisas sobre o seu estado nutricional.</p>
            <h3>Qual a indicação?</h3>
            <p>Indicado para o seu acompanhamento nutricional e evolução com a prática de atividade física. </p>
            <h3>Sua evolução</h3>
            <p>Esta é sua evolução trimestral de acordo com os dados obtidos nos exames de bioimpedância</p>
            <table>
                <tr>
                    <th>Avaliação inicial</th>
                    <th>Massa magra</th>
                    <th>Gordura corporal</th>
                    <th>Água corporal total</th>
                </tr>
                <tr>
                    <th>1º trimestre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>2º trimestre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>3º trimestre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>4º trimestre</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </li>
                <li>
                    <img src="foto2.jpg" alt="foto 2">
            </li>
    </ul>
</section>
<section id="seuespaco">
    <h2>Bioimpedância</h2>
    <ul>
        <li>
            <img src="foto1.jpg" alt="foto 1">
            <h3>O que é?</h3>
            <p>A bioimpedância destina-se à avaliação da composição corporal, estimando a massa magra, gordura corporal, água corporal total, entre outros dados que proporcionam informações mais precisas sobre o seu estado nutricional.</p>
        </li>
        <li>
            <h3>Qual a indicação?</h3>
            <p>Indicado para o seu acompanhamento nutricional e evolução com a prática de atividade física.</p>
        </li>
        <li>
            <h3>Sua evolução</h3>
            <p>Esta é sua evolução trimestral de acordo com os dados obtidos nos exames de bioimpedância</p>
            <table>
                <tr>
                    <th>Avaliação inicial</th>
                    <th>Massa magra</th>
                    <th>Gordura corporal</th>
                    <th>Água corporal total</th>
                </tr>
                <tr>
                    <td>1º trimestre</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2º trimestre</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3º trimestre</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>4º trimestre</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </li>
        <li>
            <img src="foto2.jpg" alt="foto 2">
        </li>
    </ul>
</section>

</body>
</html>