<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pagina de Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"
          crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
</head>
<body>
 <div class="container">

        <


<h1>Criar Conta</h1>
        <form action="processar_registro.php" method="post">
            <div class="form-group">
                <label for="nome">Nome completo:</label>


<input type="text" id="nome" name="nome" required>


</div>



            <


<div class="form-group">


<label for="email">Email:</label>

                <
<input type="email" id="email" name="email" required>

            </div
</div>




<div class="form-group">


<label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
            </div>



<div class="form-group">
                <label for="confirmar_senha">Confirmar Senha:</label>
                <input type="password" id="confirmar_senha" name="confirmar_senha" required>
            </div>

            <button type="submit">Registrar</button>
        </form>
</div>
</body>
</html>